@model IEnumerable<MarketWorld.Domain.Entities.SubCategory>

@{
    ViewData["Title"] = "Elektronik Kategorileri";
}

@section Styles {
    <link rel="stylesheet" href="~/css/CategoryMenu/electronic.css" />
}

<div class="electronic-container">
    <div class="electronic-header">
        <h1>Elektronik Kategorileri</h1>
        <p>En yeni elektronik ürünleri keşfedin</p>
    </div>

    <div class="electronic-grid">
        @foreach (var category in Model)
        {
            <div class="electronic-card">
                <div class="electronic-card-content">
                    @if (category.Name == "Bilgisayarlar & Tabletler")
                    {
                        <div class="electronic-card-image">
                            <img src="~/img/CategoryPhoto/computer.jpg" alt="Bilgisayarlar & Tabletler" />
                        </div>
                    }
                    else if (category.Name == "Yazıcılar & Projeksiyon")
                    {
                        <div class="electronic-card-image">
                            <img src="~/img/CategoryPhoto/printer.jpg" alt="Yazıcılar & Projeksiyon" />
                        </div>
                    }
                    else if (category.Name == "Telefonlar")
                    {
                        <div class="electronic-card-image">
                            <img src="~/img/CategoryPhoto/telephone.jpg" alt="Telefonlar" />
                        </div>
                    }
                    else if (category.Name == "Beyaz Eşya")
                    {
                        <div class="electronic-card-image">
                            <img src="~/img/CategoryPhoto/whitefurniture.jpg" alt="Beyaz Eşya" />
                        </div>
                    }
                    else if (category.Name == "Klima ve Isıtıcılar")
                    {
                        <div class="electronic-card-image">
                            <img src="~/img/CategoryPhoto/airconditioner.jpg" alt="Klima ve Isıtıcılar" />
                        </div>
                    }
                    else
                    {
                        <div class="electronic-card-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    }
                    <h3>@category.Name</h3>
                    <p>@category.Description</p>
                    <a href="@Url.Action("Details", "Category", new { id = category.Id })" class="electronic-button">
                        Ürünleri Görüntüle
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
