.about-section {
    padding-top: 100px;
    background: #fff;
}

.about-content {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--secondary);
}

.about-content p {
    text-align: justify;
}

@media (max-width: 768px) {
    .about-section {
        padding-top: 60px;
    }
    
    .about-content {
        font-size: 0.9rem;
    }
} 