@{
    ViewData["Title"] = "Telefonlar";
}

@section Styles {
    <link rel="stylesheet" href="~/css/phones.css" />
}

<div class="container py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb phones-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Telefonlar</li>
        </ol>
    </nav>

    @await Component.InvokeAsync("PhoneList")
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
} 