@{
    ViewData["Title"] = "Blog";
}

<div class="container mt-5 text-start">
    <h1 class="text-center mb-4">Blog</h1>
    <p class="text-center">En son makalelerimizi ve haberleri keşfedin.</p>

    <div class="mt-4">
        <div class="row">
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>Teknoloji Dünyasındaki Son Yenilikler</h4>
                    <p>BGünümüz teknolojileri hızla gelişiyor ve biz de sizler için bu değişimleri takip ediyoruz. Yenilikleri öğrenmek ve daha fazlası için okumaya devam edin.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>Yapay Zeka ve Büyük Veri Trendleri</h4>
                    <p>Yeni teknolojiler ve trendler hakkında bilgiler sunuyoruz. Yapay zeka, büyük veri ve diğer dijital dönüşümler hakkında en son gelişmeleri burada bulabilirsiniz.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>İş Dünyasında Başarı İçin Stratejiler</h4>
                    <p>İş dünyasıyla ilgili en yeni gelişmeleri ele alıyoruz. Sektördeki yenilikler, başarılı iş stratejileri ve girişimcilik hakkında detaylı bilgiler edinin.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>E-Ticarette Başarı İçin İpuçları</h4>
                    <p>Online satış dünyasında başarılı olmak için dikkat edilmesi gereken noktaları ele alıyoruz. SEO, dijital pazarlama ve müşteri ilişkileri yönetimi konularında ipuçları burada.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>Blockchain Teknolojisi ve Geleceği</h4>
                    <p>Blockchain teknolojisinin iş dünyasına etkisi ve gelecekte nasıl bir rol oynayacağı hakkında bilgiler sunuyoruz. Kripto paralar ve akıllı sözleşmelerin potansiyelini keşfedin.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="mb-4 p-3 border rounded shadow-sm">
                    <h4>Siber Güvenlikte Güncel Tehditler</h4>
                    <p>İnternet dünyasında karşılaşılan güvenlik tehditleri ve korunma yolları hakkında bilgi veriyoruz. Kişisel ve kurumsal güvenliğinizi sağlamak için önerilerimizi okuyun.</p>
                </article>
            </div>
        </div>
    </div>
</div>
